<!DOCTYPE html>
<html>
<head>
	<title>GlossyRails</title>
	<%= stylesheet_link_tag    "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<h1>Glossy</h1>

	<%= yield %>
	
	<%= javascript_include_tag "application" %>
</body>
</html>
